Body {
    display: block;
    text-align: center;
    background-color: rgba(55, 36, 107, 0.877);
    background-image: url('./images/seamless.svg');
    color: white;
    font-family: Silkscreen;
    font-size: 20px;
    margin: 0 auto;
    width: 100%;
}
@font-face {
    font-family: Silkscreen;
    src: url(./Silkscreen/slkscr.ttf);
}

h1 {
    font-size: 30px;
}

img {
    background-color: rgba(182, 163, 235, 0.7);
    border-right: 2px white dotted;
    border-left: 2px white dotted;
    border-top: 2px white dotted;
    
    
}
.currentWord {
    border: white 2px dotted;
    font-size: 25px;
    padding: 8px 0;
    width: 80%;
    background-color: rgba(57, 28, 136, 0.698);
    margin: auto;
}

.score {
    display: inline-block;
    height: 50px;
}

.guesses {
    display: inline-block;
    height: 50px;
}
.keyboard {
    display: grid;
    overflow: hidden;
}
.keyRow {
    width:100%;
}
.keyRow button:not(:last-child) {
    border-right: none;
}

.keyRow:nth-Child(2) {
    margin-left: 5%;
}

.keyRow:nth-Child(3) {
    margin-left: 15%;
}

.ctrlBtnGrp {
    display: inline-block;
    clear: both;
    width: 100%;
    margin: auto;
}

.ctrlBtnGrp>button {
    width: 33.3%;
}

.ctrlBtnGrp button:not(:last-child) {
    border-right: none;
}
button {
    width: 10%;
    height: 36px;
    box-sizing: border-box;
    font-family: inherit;
    font-size: inherit;
    background-color: rgb(57, 28, 136);
    border-radius: 5px;
    display: inline-block;
    float: left;
    color: white;
    border: 3px rgba(127, 92, 209, 0.678) solid;
    
}

button:after {
    content: "";
}

button:disabled {
    background-color: rgba(182, 163, 235, 0.829);
    color: rgb(71, 70, 70);
}

@media screen and (min-width: 768px) {
    body {
        font-size: 30px;
    }
    h1{
        font-size: 80px;
    }

    button {
        height: 70px;
    }
}

@media screen and (min-width: 961px) {
    body {
        background-image: url('./images/computer.svg');
        max-width: 968px;
        min-width: none;
        margin: auto;
        font-size: 30px;
    }
    h2:before {
        content: "Use Keyboard to Play!";
    }
    .currentWord {
        float: right;
        max-width: 60%;
        font-size: 35px;
        padding: 5% 0.5%;
        margin-bottom: 100px;
    }
   
    .statsContainer {
        padding: 150px 0;
    }
    .guesses {
        max-width: 420px;
    }

    .score {
        float: left;
        margin-left: 50px;
    }
    h1 {
        font-size: 100px;
        padding: 30px;
    }
    .keyboard>div>button {
        display: none;
    }
    img {
        float: left;
        margin: left;
        border-bottom: 2px white dotted;        
    }
    .ctrlBtnGrp {
        clear: both;
        margin: 30px auto 0;    
    }
    .ctrlBtnGrp>button {
        height: 70px;
        /* width: 270px; */
    }

}
